.header{
    display: flex;
    border: 1px black; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.start{
    padding-left: 20px;
}
.last{
    padding-right: 20px;
}

.mid-button{
    /* border: 1px solid black; */
    padding: 5px;
    /* border-radius: 10px; */
    margin-left: 30px;
}
.mid-button:hover{
    background-color:rgb(241, 243, 243);
}
.last-button{
    padding: 7px;
    border-radius: 10px;
}
.last-button:hover{
    background-color:#297efe;
}